{% extends 'workflow/mturk/workflow_form.html' %}

{% block header %}
    Training Item
{% endblock %}

{% block submit_button %}
    {% include 'workflow/mturk/sub/feedback_table.html' %}
    <input type="submit" name="submit" value="Done with labeling"
           id="submit" class="btn btn-success hidden">
{% endblock %}

{% block custom_scripts %}
    <script>
      let labelonePage = true;  // we are on the /labelone page

      $('input[name="done"]').click(function(e) {
        if (validation()) {
          $('#feedback-table').show();
          $('input[name="submit"]').show();
          scrollTo('#feedback-table');
          donePressed = true;
        }
        return false;
      });
    </script>
{% endblock %}
