{% extends 'workflow/base_form.html' %}

{% block header %}
    Labeler training
{% endblock %}

{% block post_content %}
    {{ block.super }}

    <style>
        fieldset {
            display: none;
        }
        fieldset:first-of-type {
            display: block;
        }
    </style>

    <script>
      let questions = $('fieldset').length;
      let startTime = new Date();
      let answered = 0;

      $('#id_id_pk_1_0_1').parent().parent().hide();
      $('#id_id_pk_2_0_1').parent().parent().hide();
      $('#id_id_pk_3_0_1').parent().parent().hide();
      $('#id_id_pk_4_0_1').parent().parent().hide();

      $('#submit').click(function (e) {
        $('#submit').val('Next');
        let finishTime = new Date();
        let delta = finishTime - startTime; 
        alert(delta);
        startTime = new Date();
        return nextQuestion();
      });

      function nextQuestion() {
        answered = answered + 1;
        if (answered < questions) {
          $('fieldset').css('display', 'none');
          $('fieldset:nth-child(' + (answered + 2) + ')').css('display', 'block ');
          return false
        }
        alert("hi");
        return true
      }


    let timeoutID = null;
    </script>
{% endblock %}

{% block submit_button_title %}
    Submit
{% endblock %}
